<div class="row">
        <div class="col">
                <p class="text-center">Peeranan T. Reanmataen</p>
            <p class="text-center">@copyright 2018</p>
        </div>
    </div>
</div>
</body>
</html>