<% include ../partials/header %>
    <div class="jumbotron">
            <h1 class="display-3">Midterm Project</h1>
            <p class="lead">Workshop FullStack With JS.</p>
            <hr class="my-2">
            <p>Peeranan T. Reanmataen</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
            </p>
        </div>  

 <% include ../partials/footer %>
